body {
    background-color:black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (min-width:640px){
  body{
    font-size: 16px;
    background-color: black;
  }
}

@media (min-width:768px){
  body{
    font-size: 18px;
    margin:10px;
    background-color: black;
  }
}
@media (min-width:1240px){
  body{
    font-size: 20px;
    margin:20px;
    background-color: black;
  }
}
.bg-black {
  background-color: #000;
}

.min-h-screen {
  min-height: 100vh;
}

.shadow-lg {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
